.nav-link {
    color: #dc5237;
}

.product-grid {
    flex: 1;
    padding: 20px;
}

.about-style {
    padding-left: 50px;
    padding-right: 50px;
}

.about-pic {
    align-items: center;
    vertical-align: middle ;
    border-radius: 20px;
}

.product-items {
    display: flex;
    border: none;
    border-radius: 15px;
    background-color: white;
    width: 100%;
    height: 120px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .5);

}

.product-items:hover {
    cursor: pointer;
}

a {
    color: white;
    text-decoration: none;
}

.cart-quantity-number {
    margin-left: 0px;
    padding-left: 0px;
    margin-right: 20px;
}